<div class="form-container">
    <h1>REGISTRARSE</h1>
    <form action="/auth/signup" method="post" class="form-auth form-register">
        <h6 class="note">Información personal</h6>
        <input required type="text" placeholder="Nombres" name="name" class="name">
        <input required type="text" placeholder="Apellidos" name="last_name" class="last-name">
        <input required type="tel" placeholder="Telefono personal" size="10" name="private_phonenumber" class="phonenumber private">
        <input type="text" placeholder="RFC" size="13" name="rfc" class="rfc">
        
        <h6 class="note">Información del negocio</h6>
        <input required type="text" placeholder="Nombre del negocio" name="company_name" class="company-name">
        <input requires type="text" placeholder="Código postal" name="postal_code" class="postal-code">
        <input required type="text" placeholder="Estado" name="state" class="state">
        <input required type="text" placeholder="Ciudad" name="city" class="city">
        <input required type="text" placeholder="Colonia" name="suburb" class="suburb">
        <input required type="text" placeholder="Calle" name="street" class="street">
        <input required type="text" placeholder="Número exterior" name="dwelling_number" class="dwelling_number">

        <h6 class="note">Entre calles</h6>
        <input required type="text" placeholder="Calle 1" name="street_one" class="street one"> 
        <input required type="text" placeholder="Calle 2" name="street_two" class="street two"> 
        <input required type="tel" placeholder="Telefono del negocio" size="10" name="company_phonenumber" class="phonenumber company">

        <h6 class="note">Correo y contraseña</h6>
        <input required type="email" placeholder="Correo electronico" name="email" class="email">
        <input required type="password" placeholder="Introduce una contraseña"  name="password" class="password">
        <input required type="password" placeholder="Vuelve a escribir tu contraseña"  name="password_confirmation" class="password confirmed">
        <button type="submit">Registrar</button>
        <div class="login-option"><p>¿Ya tienes una cuenta?<a href="/auth/signin"><b> Ingresa desde aquí</b></a></p></div>        
    </form>
</div>