<div class="form-container ">
    <h1>INICIAR SESIÓN</h1>
    <form class="form-auth form-login" action="/auth/signin" method="post">
        <input required type="email" placeholder="Correo electronico" name="correo" class="correo">
        <input required type="password" placeholder="Contraseña"  name="contrasena" class="contrasena">
        <button>Enviar</button>
        <div class="login-option"><p>¿No tienes una cuenta?<a href="/auth/signup"><b> Registrate desde aquí</b></a></p></div>        
    </form>
</div>